@import '../utils/variables.scss';
@import '../utils/mixins.scss';

%footer-bar-basic{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height:6vh;
    color:white;
    font-style: italic;
    font-size: x-small;
    padding: 0px 5px;
    text-align: left;
}

.footer{
    @extend %footer-bar-basic;
    background-color:$yellow;
    color: black;
}

@media screen and (min-width: 1366px) {
    %footer-bar-basic{
        font-size: small;
    }
}