$primary-color:#2ea44f;
$secondary-color:rgb(173, 230, 182);
$primary-disabled:gray;
$secondary-disabled:lightgray;


$font:'Roboto', sans-serif;
$light-green:#f0fedf;
$pale-orange:#e1aa7d;
$brown:#Be8a60;
$orange:#ff8045;
$purple:#2e2836;
$yellow:#ebda7b;